/plugin/PtilopsisPlugin/
/dist/
/data/
/main.spec
/build/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/Ptilopsis.iml
/.idea/vcs.xml
